.cards{
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
}

.card{
    background: linear-gradient(180deg, rgba(252, 235, 178, 0.55) 0%, rgba(241, 184, 73, 0.55) 100%);;
    min-height: 200px;
    height: auto;
}

