.heading{
    margin-top: -4%;
}
.logo img{
    width:36px;
    height:36px;
}
.providers{
    height:350px;
    overflow-y: hidden;
}
.providers.active{
    height: auto;
}
.bottom-wrapper .show-more{
    display: flex;
    align-items: center;
}
.bottom-wrapper.active .show-more{
    display: none;
}
.bottom-wrapper .show-less{
    display: none;
}
.bottom-wrapper.active .show-less{
    display: flex;
    align-items: center;
}